<footer id="page_footer" class="mt-2">
    <div class="footer_info">
        <div class="footer_links">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </div>
        <div class="footer_text">&copy; Authenication</div>
        <div class="footer_term">
            <a href="">Privacy</a>
            <a href="">terms</a>
        </div>
    </div>
</footer>