<% layout("/layout/boilerplate") %>

    <div class="row body">
        <div class="card main_card mt-4 mb-4 col-8 pb-5 pt-5">
            <div class="row page pe-3 ps-3">
                <div class="col-sm-5 mb-4 mb-sm-0 ms-4 card_1">
                    <div class="pt-4 pb-2">
                        <div class="icon mt-2 mb-2">
                            <i class="fa-solid fa-user-plus"></i>
                        </div>
                        <form action="/login" method="post" id="SignUp" novalidate>
                            <div class="mb-3">
                                <label for="email" class="form-title">Email</label>
                                <input type="email" name="emails" id="email" placeholder="Email" class="form-control"
                                    required>
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-title">Password</label>
                                <input type="password" name="password" id="password" placeholder="Password"
                                    class="form-control" required>
                            </div>
                            <button class="btn btn-success col-12 mb-4" type="submit">Login</button>
                        </form>
                        <form action="/SignUp" method="get">
                            <button class="btn btn-outline-success me-2 col-12" type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>

                <div class="col-sm-5 ms-4 mt-4">
                    <div class="card pt-2 pe-2 ps-2 pb-2">
                        <img src="/images/img.jpg" class="card-img-top show-image" alt="login img">
                    </div>
                </div>
            </div>
        </div>
    </div>